@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <h1>Welcome to My Hobby Page</h1>
    </header>
    <main>
        <section>
            <h2>Introduction</h2>
            <p>
                My hobby is playing football! I love to play football with my friends, both just for fun and in an intramural                      league.
            </p>
        </section>
        <section>
            <img src="/images/img1.jpg" alt="Herbert" style="width: 300px; height: auto;">
            <img src="/images/img2.jpg" alt="Wilson" style="width: 300px; height: auto;">
        </section>
        <section>
            <h2>About My Hobby</h2>
            <p>
                I love my hobby because I grew up playing football with my dad. He is the person who originally taught me how 
                to throw a football, and I spent hours with him learning how to do it right. In high school, I played football all
                four years, and made many friends and memories doing it. Although I wansn't the best football player, it was 
                something that I was passionate about and that taught me lots of valuable life lessons.
            </p>
            <p>
                Now that I'm older, my reasons for playing football are different. Now, it's a good reason to get together with
                friends and it is something fun for us to do outside. I love having a team and competing in many things, regardless
                of the sport. I like practicing and getting better, because I one day want to teach my children how to play just 
                like my dad taught me.
            </p>
        </section>
    </main>
</body>
</html>
